h1
{color:blue;}
body
{background-color: azure;}
#div
{
    width: 800;
    margin: auto;
    background-color: black;
    text-align: center;
    align-content: center;
}

.prout

{  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
}
